

.dropdown-toggle {
  background-color: transparent; /* o el gris oscuro que uses */
  border: none;
  box-shadow: none;
  /* elimina paddings internos si no los quieres: */
}
.menu-button {
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  color: var(--accent-color);
}

#menu-button {
  display: none;
}

@media screen and (max-width: 600px) {
 
  #menu-label {
    display: inline-block;
  }
  #menu-button:checked ~ .nav-links {
    display: flex;
  }
}
